// colors
$navbar-text-color: #bda2f3;
$title-text-color: #5b2ca2;
$sub-title-text-color: #929295;
$bg-color-intouch: #e9dedc;
$bg-color-newyork: #f1f9fb;
$bg-color-london: #faf3e3;
$bg-color-general: #fff;



